*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    /* background: radial-gradient(circle, #5c0067 50px, #000000 50%); */
    background: rgb(0,4,29);
    background: linear-gradient(180deg, rgba(0,4,29,1) 0%, rgb(36, 15, 45) 100%);
    color: #fff;
    
}


#header{
    width: 100%;
    height: 100vh;
    background-image: url();
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 100px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;

}

.header-text h1 span{
    color: #ff004f;
}

/* --------------------about----------------- */
#about {
    padding: 80px 0;
    color: #949494;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 30px;
}

.about-col-2{
    flex-basis: 60%;
    
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 30px 0 40px;

}

.tab-links {
    margin-right: 50px;
    font-size: 18PX;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 12px 0;
}
.tab-contents ul li span{
    color: #bc335f;
    font-size: 18px;
}

.tab-contents{
    display: none;

}
.tab-contents.active-tab {
    display: block;
}







/* -------------------services---------------- */

#services {
    padding: 30px 0px;
    
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 60px;
    margin-top: 35px;
    padding: 0 140px;
}

.services-list div {
    background: #202020;
    border-style: solid;
    border-width: 2px;
    border-color: #ff004f;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 40px;
    margin-bottom: 25px;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 15px;
    display: inline-block;
}

.services-list div:hover{
    background-color: #ff004f;
    transform: translateY(-4px);

}


/* ----------------------portfolio------------------ */
/* #portfolio {
    padding: 50px 0;


} */


/* ----------------------contact----------------- */
.contact-left {
    flex-basis:  34%;
    margin-top: 30px;

}

.contact-right {
    flex-basis: 65.5%;
    margin-top: 30px;
    
}

.contact-left p {
    margin-top: 30px;
}
.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.contact-left h1 {
    text-shadow: 5px 4px 4px #000000;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
    margin-top: 25px;
}

.contact-right form {
    width: 100%;

}
form input, form textarea {
    width: 100%;
    border-style: solid;
    border-color: #ff004f;
    border-width: 1px;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer

}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;

}
/* ----------------particlejs--------------- */





/* ----------------css for small screen-------------- */
/* @media only screen and (max-width: 600px) {
    #header {
        background-image: ;
    }
} */